@import "https://fonts.googleapis.com/css?family=Lato:100" ;

body{
    height: 100vh;
    background: 
	-webkit-gradient(linear,left top, right top,from(#7f53ac),to(#657ced) );
    background: 
    -o-linear-gradient(left,#7f53ac,#657ced );
    background: 
    linear-gradient(to right,#7f53ac,#657ced );
}
